/* font-family: 'Nanum Gothic', sans-serif; */

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: whitesmoke;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.App-title {
  margin: 0;
  color: white;
  font-size: 34px;
}

.content_body {
  display: flex;
  padding: 10px;
}

.column {
  width: 100%;
}

.card_column {
  padding: 10px;
}

.column_header {
  text-align: center;
  font-size: 24px;
}

.card {
  margin-bottom: 10px;
  border: 3px;
  border-style: solid;
  padding: 5px;
  box-shadow: 1px 1px 2px black;
}

#delete_button, #edit_button {
  border: 1px solid black;
  margin: 5px;
  height: 25px;
  width: 40px;
  background-color: #5A6166;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
  border-radius: 3px;
}

#delete_button:hover, #edit_button:hover {
  background-color: white;
  color: black;
}

#add_button {
  height: 40px;
  width: 125px;
  margin-right: 5px;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
  background: transparent;
  color: white;
  border: 1px solid;
  border-radius: 3px;
}

#add_button:hover {
  background-color: white;
  color: black;
}