.main_body {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  width: 100%;
  padding-top: 70px
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.task_card {
  border: 1px;
  border-style: solid;
  height: 100px;
  width: 300px;
  padding: 10px;
}