/* font-family: 'Nanum Gothic', sans-serif; */

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

.App-header {
  width: 100%;
  background-color: #222;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.App-title {
  margin: 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 34px;
}

.headers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: solid;
  border-style: 1px; */
}

.status_names {
  padding-top: 18px;
  font-size: 20px;
  /* border: solid;
  border-style: 1px; */
}

.main_body {
  border: 1px;
  border-style: solid;
  display: flex;
  padding: 10px;
}

.card {
  margin-bottom: 10px;
  border: 1px;
  border-style: solid;
}