.headers {
  position: relative;
  top: 57px;
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 60px;
}

.status_names {
  padding-top: 18px;
  font-size: 20px;
}