.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  height: 55px;
  padding: 5px;
  padding-left: 15px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.App-title {
  font-weight: normal;
  font-size: 1.5em;
}